:root {
  --shadow-color: #000000;
  --shadow-color-light: rgb(196, 196, 196);
}

body {
  margin: 0;
  padding: 0;
}

.header-primary {
  font-size: 300%;
  text-transform: uppercase;
  text-align: center;

  color: rgb(255, 255, 255);
  animation: neon 3s infinite;
}

.header-huge {
  font-size: 700%;
  opacity: 0.7;
  color: white;
  animation: neon 3s infinite;
}
.header-secondary {
  font-size: 500%;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  color: white;
  animation: neon 3s infinite;
}
.text {
  font-size: 250%;
  text-transform: lowercase;
  text-align: center;
  opacity: 1;
  color: white;
  animation: neon 3s infinite;
  /* padding-bottom: 50px; */
}
.container {
  padding-top: 50px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #e6e6e6;
  z-index: 1;
}
a:hover {
  cursor: pointer;
}

.header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.1;
}

.picture {
  margin-bottom: 32px;

  opacity: 1;
  height: 25vh;
}
@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
